<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844467994443-bbq5pimhhbtd2vgj503eds1fqho3g6a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844467994443-bbq5pimhhbtd2vgj503eds1fqho3g6a6</string>
	<key>API_KEY</key>
	<string>AIzaSyBuiWd8yFw87xtY9ti1jsxTuX4YRZL3t2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>844467994443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobxReminders</string>
	<key>PROJECT_ID</key>
	<string>mobx-reminders-00</string>
	<key>STORAGE_BUCKET</key>
	<string>mobx-reminders-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844467994443:ios:2a12c5e3ebf20670ee32ce</string>
</dict>
</plist>